body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(19, 19, 19);
    color: rgb(213, 223, 222);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body div {
    height: 1200px;
    width: 1150px;
}

.header {
    background-color: rgb(35, 35, 35);
    padding: 0px 10px;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    height: 80px;

}

.inner-p {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#s1 {
    font-size: 40px;
    font-weight: bolder;
    padding-top: 5px;

}

#s2 {

    padding-bottom: 5px;
}

.inner-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    padding-right: 20px;
    margin-top: 0px;
    width: 55%;
}

.inner-ul li {
    width: auto;
    padding: 10px;
}

.inner-ul li:hover a {
    border-bottom: 5px solid rgb(193, 165, 66);
    padding-bottom: 6px;
    color: rgb(193, 165, 66);
}


.a1 {
    text-decoration: none;
    color: rgb(213, 223, 222);
}

.container1 {
    display: flex;
    width: 100%;
    padding: 0px;
    height: 330px;
}

.container1 img {
    width: 65%;
    height: 96%;
}

.box {
    padding: 10px;
    width: 35%;
    height: 90%;
    background-color: rgb(253, 198, 7);
    color: rgb(81, 83, 70);
}

.box .image-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.image-container img {
    width: 95px;
    height: 95px;
    box-shadow: rgb(136, 135, 117) 5px 5px 10px 1px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: rgb(80, 80, 78);
}

.product-container {
    width: 30%;
    text-align: justify;
}

.product-container hr {
    margin: 10px 0px;
    border-style: dashed;
}

.product-container img {
    width: 100%;
}

.product-container h1 {
    margin-bottom: 0px;
}